@import "/src/sass/variables";

.bgContainer {
  margin: auto;
  max-width: 1200px;
}

#about {
  background-color: $orange;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;

  .aboutImg {
    display: "flex";
    justify-content: center;
    position: relative;

    .mainImg {
      width: 65%;
      height: 70%;
      border-radius: 7px;
    }

    .secondImg {
      width: 36%;
      height: 60%;
      position: absolute;
      top: 40px;
      left: -95px;
      border-radius: 7px;
    }
  }

  .heroText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .heroTextContainer {
      width: 50%;

      h2 {
        color: $white;
        font-size: 2.3rem;
        font-weight: 400;
        letter-spacing: 3.2px;
        line-height: 1.3;
        text-align: center;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
